{% extends 'base/base.html' %}
{% block title %}

    Property - Rent A Port

{% endblock title %}
{% block body %}
    {% load static %}

    <section class="py-5 mt-4">
        <div class="container">
            <h1 class="display-6 fw-semibold text-center text-success my-3">Overview</h1>
            <div class="row gx-0 gy-0">
                <div class="col-11 col-sm-11 col-md-11 col-lg-8 col-xl-9 col-xxl-9 px-2">
                    <div class="d-lg-flex d-xl-flex d-xxl-flex">
                        <div class="w-100 h-100 m-3"><a href="{{ p.in_img.url }}" target="_blank"><img
                                class="rounded img-fluid shadow w-100 fit-cover" src="{{ p.in_img.url }}"
                                style="max-height: 250px;"/></a></div>
                        <div class="w-100 h-100 m-3"><a href="{{ p.out_img.url }}" target="_blank"><img
                                class="rounded img-fluid shadow w-100 fit-cover" src="{{ p.out_img.url }}"
                                style="max-height: 250px;"/></a></div>

                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-3 col-xxl-3 d-flex ps-lg-3">
                    <div class="m-0 p-0">
                        <hr class="me-3 ms-0" style="border-left: 1px solid;height: 250px;"/>
                    </div>
                    <div class="d-xl-flex d-xxl-flex align-items-xl-center align-items-xxl-center">
                        <div>
                            <div class="mb-1"><span>Configuration :</span><span>  {{ p.BHK }}</span></div>
                            <div><span>Rent :</span><span>  ₹ {{ p.rent }}</span></div>
                            <div class="mb-1"><span>Property type:  </span><span>{{ p.Property_type }}</span></div>
                            <div class="mb-1"><span>Posted By : </span><span> {{ p.Posted_by }}</span></div>
                            <div class="mb-1"><span>Posted  On : </span><span>{{ p.Posted_on }}</span></div>
                            <div class="mb-1"><span>Available From : </span><span>{{ p.Available_from }}</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="p-0 mb-0"/>
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <h1 class="fw-semibold text-center text-success my-4">Details</h1>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4 my-3">
                    <div class="mb-1"><span class="text-muted">About Property :</span><span> {{ p.Message }}</span>
                    </div>
                    <div class="mb-1"><span class="text-muted">Address :</span><span> {{ p.address }}</span></div>
                </div>


                {% if log_in %}


                    <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4 d-flex justify-content-evenly align-items-xxl-center my-3"
                         id="contacts">
                        <div>
                            <div class="mb-1"><span class="text-muted">Phone Number :</span><span> {{ p.phone }}</span>
                            </div>
                            <div class="mb-1"><span class="text-muted">E-Mail id :</span><span> {{ p.mail }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4 d-flex justify-content-evenly align-items-xxl-center my-3"
                         id="appointment">
                        <form  target="_blank"  method="post" action="{% url 'appointment' p.id%}" >{% csrf_token %}
                            <div class="d-flex justify-content-evenly">
                                <input class="border rounded form-control form-control-sm w-75 mx-1 text-black bg-light" name="date_time"
                                       type="datetime-local" required/>
                                <input type="number" value="{{ p.id }}" name="pid" class="d-none" disabled>
                                <textarea
                                        class="form-control form-control-sm form-control rounded-1 w-100 text-black bg-light"
                                        rows="1" name="message" placeholder="Any Message" required minlength="10"
                                        maxlength="500"></textarea>
                            </div>
                            <div class="d-flex justify-content-center">
                                <button class="btn btn-primary btn-sm rounded-1 d-flex justify-content-center mt-1 w-lg-50 w-xl-50 w-xxl-50"
                                   type="submit" style="width: 194.987px;">Set Appointment</button></div>
                        </form>
                    </div>

                {% else %}


                    <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 col-xxl-8 text-center my-3"
                         id="C_D_button">
                        <button class="btn btn-primary rounded-1" onclick="Details()" role="button">View
                            Contact Details
                        </button>
                    </div>

                {% endif %}
            </div>
            <hr/>
            <div class="row">
                <div class="col-lg-4 col-xl-3 col-xxl-3">
                    <div class="mb-1"><span class="text-muted">Rent :</span><span> ₹ {{ p.rent }}</span></div>
                    <div class="mb-1"><span class="text-muted">Floor number :</span><span>  {{ p.Floor_number }}</span>
                    </div>
                    <div class="mb-1"><span class="text-muted">Posted by :</span><span>  {{ p.Posted_by }}</span></div>
                </div>
                <div class="col-lg-4 col-xl-3 col-xxl-3">
                    <div class="mb-1"><span class="text-muted">Deposit :</span><span>  ₹ {{ p.deposit }}<br/></span>
                    </div>
                    <div class="mb-1"><span class="text-muted">Pet-allowed :</span><span>  {{ p.Pet_allowed }} </span>
                    </div>
                    <div class="mb-1"><span
                            class="text-muted">Agreement duration :</span><span>  {{ p.Agreement_duration }}</span>
                    </div>
                </div>
                <div class="col-lg-4 col-xl-3 col-xxl-3">
                    <div class="mb-1"><span class="text-muted">Maintenance :</span><span> ₹ {{ p.maintenance }}</span>
                    </div>
                    <div class="mb-1"><span class="text-muted">Parking :</span><span>  {{ p.Parking }}</span></div>
                    <div class="mb-1"><span
                            class="text-muted">Available from:</span><span>  {{ p.Available_from }}</span></div>
                </div>
                <div class="col-lg-4 col-xl-3 col-xxl-3">
                    <div class="mb-1"><span class="text-muted">Bed Hall Kitchen :</span><span>  {{ p.BHK }} </span>
                    </div>
                    <div class="mb-1"><span
                            class="text-muted">Property type :</span><span>  {{ p.Property_type }} </span></div>
                    <div class="mb-1"><span
                            class="text-muted">Electricity and water charges included :</span><span>  {{ p.Electricity_water }} </span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <a class="btn btn-primary rounded-1 d-none" id="login_btn" href="/login">login</a>
    <script>
        console.log("{{ log_in }}")
        {% if log_in %}
            function Details() {
                if ((document.getElementById("contacts").style.display === "none") && (document.getElementById("appointment").style.display === "none"))
                    document.getElementById("contacts").style.display = "none";
                document.getElementById("appointment").style.display = "none";
                document.getElementById("C_D_button").style.display = "none";
            }
        {% else %}
            function Details() {
                document.getElementById("login_btn").click();
            }
        {% endif %}

    </script>
{% endblock body %}