{% extends 'base/base2.0.html' %}
{% block title %}

{% endblock title%}
{% block body %}
{% load static %}

<section class="pb-5">
    <div class="container">
        <div class="text-center mb-5 pb-4">

                <h2 class="fw-bold">Enter new password</h2>

            <p class="text-center">Please enter your new password twice so we can verify you typed it in correctly.<br /></p>
        </div>
        <div>
            <form class="" method="post">

                            {% csrf_token %}
                                {{form}}<br><br>
                                <input type="Submit" class="btn btn-outline-info" name="Update Password">


                        </form>
        </div>
    </div>
</section>


{% endblock body %}