{% extends 'base/base2.0.html' %}
{% block title %}

{% endblock title%}
{% block body %}
{% load static %}


<section class="pb-5">
    <div class="container">
        <div class="row">
            <div class="col text-center mx-auto">
                <h1 class="fw-bold m-4">Password reset complete<br /></h1>
            </div>
        </div>
        <p class="text-start">Your password has been set. You may go ahead and log in now.<br /></p><a class="fs-5" href="/login" style="text-decoration: none;color: rgb(0,240,255);">Log In</a>
    </div>
</section>
{% endblock body %}