{% extends 'base2.0.html' %}
{% block title %}

{% endblock title%}
{% block body %}
{% load static %}

<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col text-center mx-auto">
                <h1 class="fw-bold mb-4">Password reset sent<br /></h1>
            </div>
        </div>
        <p class="text-start">We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly. <br />If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.<br /></p>
    </div>
</section>


{% endblock body %}