{% extends 'base.html' %}
{% block title %}

    Team - Rent A Port

{% endblock title %}
{% block body %}
    {% load static %}

    <div class="container py-5 mt-5">
        <div class="row mb-4 mb-lg-5 mt-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <p class="fw-bold text-success mb-2">Our Services</p>
                <h2 class="fw-bold">Rent A Port</h2>
                <p class="text-muted w-lg-50">Live anywhere </p>
            </div>
        </div>
        <div class="row mb-4 mb-lg-5">
            <div class="col-md-8 col-xl-8 text-center mx-auto">
                <p class="fs-5 text-start w-lg-50">Welcome to Rent A Port!<br/>Rent A Port is a disruptive real-estate
                    platform that makes it possible to rent a house without paying any brokerage<br/>Rent A Port was
                    started because all of us believed that paying hefty brokerage can not be the only option to find a
                    new home. As tenants, we have been paying these brokerages year on year without seeing any advantage
                    of the broker. The only reason he existed was that there was a huge information asymmetry in the
                    market. Rent A Port is a platform that removes this information asymmetry and provides a marketplace
                    for free exchange of this information that used to cost 1-2 months of rent as brokerage.</p>
            </div>
        </div>
    </div>
{% endblock body %}