{% extends 'base.html' %}
{% block title %}

    Contacts - Rent A Port

{% endblock title %}
{% block body %}
    {% load static %}


   <section class="py-5 mt-5 container">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 class="text-center py-5">Profile</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-xl-2 col-xxl-2 text-center d-xxl-flex justify-content-xxl-center mt-2"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-person-circle text-start" style="font-size: 7rem;">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"></path>
                        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"></path>
                    </svg></div>
                <div class="col-lg-5 col-xl-5 col-xxl-5 text-center mt-2">
                    <div class="mb-3"><label class="form-label">First Name :&nbsp;</label>
                        <input class="form-control-sm" type="text" name="fname" placeholder="First Name : " value="{{ user.first_name }}"></div>
                    <div class="mb-3"><label class="form-label">username &nbsp; :&nbsp; </label>
                        <input class="form-control-sm" type="text" name="username" placeholder="username " value="{{ user.username }}"></div>
                </div>
                <div class="col-lg-5 col-xl-5 col-xxl-5 text-center mt-2">
                    <div class="mb-3"><label class="form-label">last Name :&nbsp;</label>
                        <input class="form-control-sm" type="text" name="lname" placeholder="last Name : " value="{{ user.last_name }}"></div>
                </div>
            </div>
            <div class="row">
{#                <div class="col-lg-5 col-xl-5 col-xxl-5 offset-lg-2 offset-xl-2 offset-xxl-2 text-center">#}
{#                    <div class="mb-3"><label class="form-label">Mobile&nbsp; &nbsp; &nbsp; &nbsp; :&nbsp;</label>#}
{#                        <input class="form-control-sm" type="text" name="mobile" placeholder="Mobile Number "value="{{ user.contact_number }}"></div>#}
{#                </div>#}
                <div class="col-lg-5 col-xl-5 col-xxl-5 text-center offset-xxl-2">
                    <div class="mb-3"><label class="form-label">E-mail id  &nbsp; &nbsp; :&nbsp; &nbsp;</label>
                        <input class="form-control-sm" type="text" name="mail" placeholder="mail"value="{{ user.email }}"></div>
                </div>
            </div>
        </div>
    </section>


{% endblock body %}