{% extends 'base/base.html' %}
{% block title %}

{% endblock title%}
{% block body %}
{% load static %}


<section class="py-5 mt-5">
    <div class="container">
        <div class="row">
            <div class="col text-center mx-auto">
                <h1 class="fw-bold m-4">Mail has been sent to your E-mail addres<br /></h1>
                <img class="img-thumbnail img-fluid border rounded border-1 border-dark shadow-sm" src="{% static "assets/img/gif/37a6d711288081.560f55657336f.gif" %}" />
            </div>
        </div>
    </div>
</section>

{% endblock body %}